@model Archimedes.Business.Commands.GetPagedArtifactsResponse

@{
	ViewBag.Title = "Artifacts";
}

<h2>Artifacts</h2>

	@foreach (var artifact in @Model.Artifacts)
	{
		<h3>@artifact.Title</h3>
		<div>
			@artifact.Description
		</div>
		<div>
			@artifact.CreatedOn.ToShortDateString() | <a href="@artifact.Link">@artifact.Link</a>
		</div>
	}

@if (Model.HasNewer)
{
	@Html.ActionLink("Newer", "Index", new {startIndex = Model.NewerStartIndex })
}

@if (Model.HasOlder)
{
	@Html.ActionLink("Older", "Index", new { startIndex = Model.OlderStartIndex })
}

<p>Found @Model.Artifacts.Count artifacts.</p>
